set root=(hd0,gpt10)
set timeout=15
set superusers="root"

#
# users
#
password_pbkdf2 root grub.pbkdf2.sha512.10000.B2AF2B56B22BBC100C8DA2D75785040F90119B4C2677AC3824C5160911A9474D956A479D2458FF5F38D8721659FD0B79CA95BFD4EC802DE0252E2DDA52923ACA.A628D04E37CE360DC849ECF412C5A480AB4E9C188C3AE9DDBECE7D74435BF132DDCA80E15F2F16553199EBD99DBE383177390F883A05DEB72DA83C7AAA1340AF

#
# default kernel
#
set kernel_name="GNU/Linux"
set kernel_version="3.16.1"
set kernel="/vmlinuz-3.16.1"
set kernel_args="quiet"
set kernel_root="/dev/sda6"

#
# loads the default kernel
#
function load_kernel {

	#search --no-floppy --fs-uuid --set=root 34868f06-d56b-4539-a649-33ec96b50d74
	#echo $root
	#sleep 1

	echo 'Loading kernel...'
	linux $kernel root=$kernel_root ro $kernel_args
	echo 'Loading initramfs image...'
	initrd /initramfs.img
	echo 'Booting...'

}

#insmod part_msdos
insmod part_gpt
insmod ext2
insmod all_video

#terminal_input console
#terminal_output console

#
# give user 1 sec to press ESC
#
#if sleep --interruptible 1 ; then
#
#	set timeout=0
#fi

font=unicode
font="(hd0,gpt6)/usr/share/grub/unicode.pf2"
font="(hd0,gpt6)/usr/share/grub/themes/starfield/dejavu_16.pf2"

# load the font and switch to graphical mode
#
if loadfont $font ; then

       set gfxmode=auto
       insmod all_video
       insmod gfxterm

fi

terminal_output gfxterm

# load background image
#
#background_image -m stretch /usr/share/grub/themes/starfield/starfield.png

# load theme
#
loadfont (hd0,gpt6)/usr/share/grub/themes/custom/dejavu_10.pf2
loadfont (hd0,gpt6)/usr/share/grub/themes/custom/dejavu_12.pf2
loadfont (hd0,gpt6)/usr/share/grub/themes/custom/dejavu_14.pf2
loadfont (hd0,gpt6)/usr/share/grub/themes/custom/dejavu_16.pf2
loadfont (hd0,gpt6)/usr/share/grub/themes/custom/dejavu_bold_14.pf2
insmod png
set theme=(hd0,gpt6)/usr/share/grub/themes/custom/theme.txt
export theme


#
# GNU/Linux 
#
menuentry ""$kernel_name" "$kernel_version"" --unrestricted --hotkey=l {
	set kernel_args="resume=/dev/sda9 quiet splash"
	load_kernel
}

#
# GNU/Linux Text Mode
#
menuentry ""$kernel_name" "$kernel_version" Text Mode" --unrestricted {
	set kernel_args="quiet nox"
	load_kernel
}

#
# GNU/Linux Recovery Mode
#
menuentry $kernel_name" "$kernel_version" Recovery Mode" --unrestricted {
	set kernel_args="nox init_opts=single"
	load_kernel
}

#
# GNU/Linux Verbose Mode
#
menuentry $kernel_name" "$kernel_version" Verbose Mode" --unrestricted {
	set kernel_args=""
	load_kernel
}

#
# boot the last working kernel
#
menuentry $kernel_name" "$kernel_version" (Last working build)" --users "" {
	set $kernel=$kernel.old
	load_kernel
}

#
# Older kernels
#
submenu ""$kernel_name" Older Kernels" --unrestricted {

	set superusers="root"

	#
	# Gentoo 3.14.14
	#
	menuentry "GNU/Linux 3.14.14-gentoo" --users "" {

		linux /vmlinuz-3.14.14-gentoo root=/dev/sda6 vga=normal nomodeset  quiet

	}

	#
	# Gentoo Linux quiet boot
	#
	menuentry "GNU/Linux 3.12.21-gentoo-r1" --users "" {

		linux /vmlinuz-3.12.21-gentoo-r1 root=/dev/sda6 quiet

	}

	#
	# return to main menu
	#
	menuentry "Return to Main Menu" --unrestricted {
		configfile /grub/grub.cfg
	}

}

#
# Microsoft Windows 8
#
submenu "Microsoft Windows 8" --unrestricted --hotkey=w {

	set superusers="root"

	menuentry "Microsoft Windows 8" --unrestricted {

		set root=(hd0,gpt2)
		chainloader (hd0,gpt2)/EFI/Boot/bootx64.efi

	}

	menuentry "Microsoft Windows 8 (Safe Mode)" --unrestricted {

		set root=(hd0,gpt2)
		#sendkey F8
		chainloader (hd0,gpt2)/EFI/Boot/bootx64.efi

	}

	#
	# return to main menu
	#
	menuentry "Return to Main Menu" --unrestricted {
		configfile /boot/grub/grub.cfg
	}

}


#
# Removable devices
#
submenu "Removable Devices" --users "fernan" {

	set superusers="root"

	#
	# Boot 32-bit USB EFI drive
	#
	menuentry "USB EFI Drive (32-Bit)" --users "fernan" {

		set root=(hd1,msdos0)
		chainloader /EFI/Boot/boot.efi

	}

	#
	# Boot 64-bit USB EFI drive
	#
	menuentry "USB EFI Drive (64-Bit)" --users "fernan" {

		set root=(hd1,msdos0)
		chainloader /EFI/Boot/bootx64.efi

	}

	#
	# return to main menu
	#
	menuentry "Return to Main Menu" --unrestricted {
		configfile /boot/grub/grub.cfg
	}

}
